.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
body{
  background: #282c34;
}


footer{
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color:#282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard{

    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  
}





.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  padding: 1px;
}

.hightlight-blue{
  background-color: aqua;
}

.mt-30{
  margin-top: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.Location{
  background-color: chartreuse;
}

.Person{
  background-color: aqua;
}
.Organization{
  background-color: orange;
}
.JobTitle{
  background-color:plum;
}
.Number{
  background-color: olivedrab;
}
.Facility{
  background-color:burlywood;
}
.Label{
  margin-top: 10%;
}
.color-black{
  background-color: black;
  color: black;
}
.box{
  justify-content: center;
  display: grid;
  font-size: 20px;
}

.breakline{
  margin-bottom: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
