.App {
  text-align: center;
  background-color: #282c34;
  background-size: cover;
  min-height: 100vh;
  z-index: 10;
}
body{
  background: #282c34;
  background-size: cover
}


footer{
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color:#282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard{

    text-align: center;
    justify-content: center;
    background-color: #282c34;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;

  
}





.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1px;
  padding: 1px;
}

.hightlight-blue{
  background-color: aqua;
}

.mt-30{
  margin-top: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.Location{
  background-color: chartreuse;
}

.Person{
  background-color: aqua;
}
.Organization{
  background-color: orange;
}
.JobTitle{
  background-color:plum;
}
.Number{
  background-color: olivedrab;
}
.Facility{
  background-color:burlywood;
}
.GeographicFeature{ background-color:bisque}
.TwitterHandle { background-color: #61dafb}
.Hashtag { background-color: darkgray}
.IPAddress { background-color: lightpink}
.URL { background-color: steelblue}
.EmailAddress { background-color: teal}
.PhoneNumber { background-color: gold}
.Address { background-color: darkkhaki}
.Percent { background-color: palevioletred}
.Ordinal { background-color: saddlebrown}
.Duration { background-color: olive}
.Money { background-color: maroon}
.Measure { background-color: mediumorchid}
.Time { background-color: lightsteelblue}
.Date { background-color: khaki}
.Product { background-color: darkgoldenrod}



.Label{
  margin-top: 10%;
}
.color-black{
  background-color: black;
  color: black;
}
.box{
  font-size: 20px;
  justify-content: center;
}

  .Edit{
  
    margin-right: -25%;
    margin-top: -20%;
    float: right;
    
  }




.container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 300px;
}

.breakline{
  margin-bottom: 30px;
}

.add.b{
  background-color : #60e32f

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
